.tweet-size {
    height: 200px;
}

a {
    text-decoration: none;
}

.edit-form {
    text-align: center;
}

#update-button, #update-cancel-button, #post-button, #post-cancel-button, #reply-submit-button, #reply-cancel-button, #retweet-submit-button, #retweet-cancel-button {
    margin: 10px;
}

#create-tweet-button {
    margin-bottom: 60px;
    margin-top: 20px;
}

.twitter-header {
    text-align: center;
}

#create-title, .twitter-title, #edit-title {
    margin-bottom: 20px;
}

#tweet-container {
    width: 60%;
}