@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

body, html {
    font-family: 'Roboto', 'sans-serif';
    color: white;
    width: 100vw;
    height: 100vh;
}

.main-page {
    background-image: url('static/a01-bkground.jpg');
    background-size: cover;
}

h1 {
    font-family: 'Raleway', 'sans-serif';
    color: white;
}

h2 {
    font-family: 'Raleway', 'sans-serif';
    color: #8cbea4;
    font-size: 60px;
}

.title-page {
    padding: 40px;
}

.title {
    padding: 160px;
    padding-bottom: 30px;
}

.main-title {
    text-align: center;
    font-size: 100px;
    margin: 0px;
}

.subtitle {
    text-align: center;
    font-size: 20px;
    margin: 0px;
}

#line {
    width: 750px;
    height: 6px;
    background-color: #ffffff;
    border: 1px;
}

.nav {
    text-align: center;
    padding: 35px;
}

.nav .nav-titles {
    font-family: 'Roboto', 'sans-serif';
    font-size: 30px;
    color: white;
    padding: 20px;
}

a.nav-titles {
    text-decoration: none;
}

.nav-titles:hover {
    color: #8cbea4;
}

.content-titles {
    text-align: center;
    margin: 30px;
}

.content-line {
    background-color: #bcc5c0;
    width: 750px;
    height: 6px;
    border: 1px;
}

.content-div {
    padding: 40px;
}

#content-div {
    padding: 40px;
    text-align: center;
}

.content-text {
    color: #31443b;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
}

.content-gallery {
    display: block;
    padding: 30px;
}

.cited-links {
    text-decoration: none;
    color: #76897c;
    font-size: 30px;
}

.arrow-div {
    display: flex;
    justify-content: center;
}

#left-arrow {
    color:#8cbea4;
    font-size: 50px;
}

#right-arrow {
    color:#8cbea4;
    font-size: 50px;
}

.left-arrow {
    padding-top: 175px;
    padding-right: 600px;
}   

.right-arrow {
    padding-top: 175px;
    padding-left: 580px;
}

.arrow-titles {
    color: #31443b;
}